.container {
  /* text-align: center; 
  padding: 20px;
  width: 100%;
  height: 200vh;
  margin: 0 auto;*/
  margin-top: 100px;
  gap: 30px;
  text-align: center;
  height: auto;
}

/* .products { /*
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap; 
  gap: 30px;
  margin-bottom: 20px; 
}*/

.col-md-4 {
  flex: 1;
  margin: 10px; /* Space between cards */
  /* box-shadow: 1px 1px 2px rgb(23, 5, 87); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  /* Subtle shadow for 3D effect */
}

.container h3 {
  font-family: "Teko", sans-serif;
  text-shadow: none;
  color: black;
  /*text-shadow: 2px 2px 4px #3b3030;*/
  text-align: left;

  line-height: 64px;
  font-style: none;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.product-container h4 {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 26px;
  font-size: 46px;
}

.product-card h2 {
  color: #362fd9;
  margin-bottom: 15px;
  font-size: 24px;
}

.product-card h4 {
  color: green; /* Color for the price */
  margin-bottom: 18px;
}

.product-card p {
  font-size: 18px;
  margin-bottom: 15px;
  text-align: left;
}

/* .product-card button { */
.btn-light {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #0f1123; /* Custom blue color */
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px auto;
  width: 150px;
  margin-top: auto;
}

.testingButton {
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px auto;
  margin-top: 20px;
  width: 200px;
  filter: drop-shadow(0 0 1rem rgb(3, 86, 250));
  color: #362fd9;
  background: var(--purple-900);
  border: 2px solid rgb(3, 86, 250);
  border-color: rgb(23, 5, 87);
  border-radius: 0.75rem;
  color: rgb(210, 234, 242);
  color: rgb(129, 171, 255);
  padding: 0.75rem 1rem;
  text-decoration: none;
  transition: ease-in-out;
  text-transform: uppercase;
  line-height: 20px;
  border: 2px solid rgb(129, 171, 255);
}

.testingButton:hover {
  color: black;
  background-color: rgb(58, 167, 250);
}

.testingButton .text {
  filter: drop-shadow(0 0 1px rgb(23, 5, 87));
}
