.container {
  margin-top: 100px;
  text-align: center;
  height: auto;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0;
}

.col-md-4 {
  position: relative;
  flex: 1;
  margin: 10px; /* Space between cards */
  /* box-shadow: 1px 1px 2px rgb(23, 5, 87); */
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.container h3 {
  font-family: "Teko", sans-serif;
  text-shadow: none;
  color: black;

  text-align: left;
  line-height: 64px;
  font-style: none;
  font-size: 50px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

/* .product-container h4 {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
  font-size: 46px;
  padding-bottom: 20px;
} */

.card-header {
  font-size: 30px;
}

.product-card h2 {
  color: #362fd9;
  margin-bottom: 15px;
  font-size: 24px;
}

.price {
  position: absolute;
  bottom: 10%;
  color: white; /* Color for the price */
  margin-bottom: 50px;
  bottom: 50px; /* Adjusts distance from the bottom */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.card-body p {
  font-size: 18px;
  margin-bottom: 150px;
  text-align: left;
}

/* .product-card button { */
.btn-light {
  right: 24%;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #0f1123; /* Custom blue color */
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px auto;
  width: 150px;
  position: absolute;
  bottom: 20px; /* Adjusts distance from the bottom */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.testingButton {
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px auto;
  margin-top: 20px;
  width: 200px;
  filter: drop-shadow(0 0 1rem rgb(3, 86, 250));
  color: #362fd9;
  background: var(--purple-900);
  border: 2px solid rgb(3, 86, 250);
  border-color: rgb(23, 5, 87);
  border-radius: 0.75rem;
  color: rgb(210, 234, 242);
  color: rgb(129, 171, 255);
  padding: 0.75rem 1rem;
  text-decoration: none;
  transition: ease-in-out;
  text-transform: uppercase;
  line-height: 20px;
  border: 2px solid rgb(129, 171, 255);
}

.testingButton:hover {
  color: black;
  background-color: rgb(58, 167, 250);
}

.testingButton .text {
  filter: drop-shadow(0 0 1px rgb(23, 5, 87));
}

@media (min-width: 768px) {
  .container {
    gap: 30px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    gap: 10px;
  }

  .row {
    flex-direction: column;
  }

  .col-md-4 {
    width: auto;
  }
}
