.bottom-block {
  /* Occupies full width */
  height: 700px; /* Maximum height */
  /* Adjust to auto to accommodate content */
  margin: 0 auto; /* Centering if needed */
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
}

.map-block {
  /*position: relative;*/
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: hidden;
  padding: 0;
}

.contact-container {
  position: absolute;
  top: 290px;
  padding: 20px;
  color: #362fd9;
  left: 30%;
  transform: translateX(-50%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 38%;
  height: 410px;
  display: block;
  background-color: white;
  margin: 0;
  text-align: center;
  /* border-radius: 20px; */
  z-index: 1000;
}

.contact-container h5 {
  font-size: 1.7rem;
  font-family: "Libre Baskerville", serif;
  margin: 20px auto;
  text-shadow: 1px 1px 2px black;
  letter-spacing: 1px;
}

.bottom-block__submit-button {
  color: rgb(23, 5, 87);
  font-size: 1rem;
  border: 2px solid rgb(23, 5, 87);
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 rgb(3, 86, 250);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  filter: drop-shadow(0 0 1rem rgb(3, 86, 250));
}

.bottom-block__submit-button:hover {
  /* background-color: rgb(58, 167, 250); */
  box-shadow: inset 400px 50px 0 0 rgb(3, 86, 250);
}

.bottom-block__submit-button .text {
  filter: drop-shadow(0 0 1px rgb(23, 5, 87));
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
}

.contact-form input {
  width: 70%;
  height: 2rem;
  /* border-radius: 8px; */
  font-size: 16px;
  padding-left: 5px;
  border: 1.5px solid #362fd9;
}

.contact-form textarea {
  width: 70%;
  height: 5rem;
  margin: 20px auto;
  /* border-radius: 8px; */
  font-size: 16px;
  padding-left: 5px;
  border: 1.5px solid #362fd9;
}

.contact-form textarea::placeholder,
input::placeholder {
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
  font-style: italic;
  padding-left: 5px;
}

@media screen and (max-width: 540px) {
  .contact-container {
    width: 80%;
    left: 10%;
  }

  .bottom-block {
    height: 100vh;
  }
}
