/* .review__block { 
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  height: auto;
  max-width: 1200px;
  width: 100%;
  /* border: 2px solid red; 
}

/* .customer-container { 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  gap: 20px;
  height: 80%;
  flex-wrap: wrap;
  width: 100%;
}

.review__block h3 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
  font-size: 30px;
  color: #362fd9;
}

.review {
  flex: 1;
  background: rgba(105, 230, 244, 0.8);
  margin: 10px;

  font-size: 22px;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(1, 4, 4, 0.7);
  text-align: left;
  background-image: linear-gradient(
      rgba(159, 218, 252, 0.925),
      rgba(239, 246, 255, 0.887)
    ),
    url("../../assets/cosmopolitan.jpg");
  /* border: 2px solid rgba(34, 231, 253, 0.8);
}*/

.review__container h3 {
  font-family: "Teko", sans-serif;
  text-shadow: none;
  color: #362fd9;
  /*text-shadow: 2px 2px 4px #3b3030;*/
  text-align: left;

  line-height: 64px;
  font-style: none;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
} /*

.rating {
  font-size: 24px;
  font-style: oblique;
  padding: 10px 0;
}

@media screen and (max-width: 540px) {
  .review__block {
    height: auto;
  }

  .customer-container {
    flex-direction: column;
  }

  .review {
  }
}

.row.align-items-stretch .card:only-of-type {
  height: 100%;
} */

.review__container {
  text-align: center;
  /* border: 2px solid red; */
  margin-bottom: 50px;
}

.col-md-8 {
  margin: 0 auto;
  height: auto;
}

.profile-circle img {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  width: 30px;
}

.review__container .slick-dots {
  top: 95%;
}
